<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='app.css') }}">
		<script type="text/javascript">
			var answers = [
			"It is certain.",
	        "It is decidedly so.",
	        "Without a doubt.",
	        "Yes - definitely.",
	        "You may rely on it.",
	        "As I see it, yes.",
	        "Most likely.",
	        "Outlook good.",
	        "Yes.",
	        "Signs point to yes.",
	        "Reply hazy, try again.",
	        "Ask again later.",
	        "Better not tell you now.",
	        "Cannot predict now.",
	        "Concentrate and ask again.",
	        "Don't count on it.",
	        "My reply is no.",
	        "My sources say no.",
	        "Outlook not so good.",
	        "Very doubtful." ];
			document.addEventListener('DOMContentLoaded', function(){
				var card = document.getElementById("card");
				cls = ["bg-dark", "bg-success", "bg-danger", "bg-warning", "text-white"];
				document.querySelector("#ask").onclick = function(){
					i = Math.floor(Math.random() * 20);
					if (i<10) {
						card.classList.remove(...cls);
						card.classList.add(...["bg-success"]);
					}
					else if (i<15) {
						card.classList.remove(...cls);
						card.classList.add("bg-warning");
					}
					else {
						card.classList.remove(...cls);
						card.classList.add(...["bg-danger","text-white"]);
					}
					document.querySelector("#answer").innerHTML = answers[i];
				};
				document.querySelector("#reset").onclick = function(){
					card.classList.remove(...cls);
					card.classList.add(...["bg-dark","text-white"]);
					document.querySelector("#answer").innerHTML = "Ask me anything!";
				};
			});
		</script>
		<title>Magic 8 Ball by RK</title>
	</head>

	<body>
		<div class="container-sm">
			<div>
		  		<div class="jumbotron jumbotron-fluid" style="background: transparent; width: 80%; margin: auto; padding-top: 10px; padding-bottom: 7px;">
		  			<div class="container" style="text-align: center;">
		    			<h1 class="display-4" style="margin: auto; font-weight: 800; font-size: 50px;">Magic 8 Ball</h1>	
		  			</div>
				</div>
				<div style="width: 78%; margin: auto; text-align: center;">
					<div class="card shadow text-white bg-dark w-50" style="margin: auto;" id="card">
		  				<div class="card-body">				
		    				<h5 class="card-title" style="margin-bottom: 0px; font-weight: bolder;" id="answer">Ask me anything!</h5>
		  				</div>
					</div>
					<div style="margin-top: 10px;">
						<button type="button" class="btn btn-primary" style="font-weight: bolder; margin-right: 5px; padding-left: 18.5px; padding-right: 18.5px;" id="ask">Ask</button>
						<button type="button" class="btn btn-primary" style="font-weight: bolder;" id="reset">Reset</button>
					</div>
				</div>	
			</div>
		</div>

		<script type="text/javascript" src="{{ url_for('static',filename='app.js') }}"></script>
	</body>
</html>